{{ attach_library('pubsub/node-teaser-featured-speaker') }}

{%
  set classes = [
    'node',
    'featured-speaker',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  {{ title_suffix }}
  <a class="featured-speaker__link" href="{{ node.field_cta_link.0.url }}">
    <div class="featured-speaker__img">
      {{ content.field_image }}
      <div class="featured-speaker__badge">
      {{ content.field_badge }}
      </div>
    </div>
    <h3 class="featured-speaker__title">{{ label }}</h3>
    <div class="featured-speaker__desc">
      {{ content.body }}
    </div>
  </a>
</article>
