{{ attach_library('pubsub/session-teaser') }}

{%
  set classes = [
    'session-teaser',
    not node.isPublished() ? 'node--unpublished',
  ]
%}

{% set is_training = node.field_is_training.value %}

<article{{ attributes.addClass(classes) }}>
  <details class="session-teaser__details">
    <summary class="session-teaser__summary">
      <h3 class="session-teaser__title">{{ label }}</h3>
      <div class="session__meta">
        {{ content.field_session_category }}
        {{ content.field_r }}
        {{ content.field_audience }}
        {{ content.field_speakers }}
      </div>
    </summary>
    <div class="session-teaser__desc">
      {{ content.field_description }}

      <div class="session-teaser__desc-meta">
        <a href="{{ url }}">
          <span>View Session Page</span>
          <span class="visually-hidden">for {{ label }}</span>
          {% include '@pubsub/includes/svg/arrow-right.svg' %}
        </a>
      </div>
    </div>
  </details>

  {{ title_suffix }}

</article>
