{{ attach_library('pubsub/session-teaser') }}

{%
  set classes = [
    'session-teaser',
    not node.isPublished() ? 'node--unpublished',
  ]
%}

{% embed 'pubsub:details' with {
  label: label|add_suggestion('bare')|render,
  attributes: attributes,
  title_suffix: title_suffix,
  is_training: node.field_is_training.value ? true : false,
  is_non_session: node.field_is_non_session.value ? true : false,
  url: url,
  content,
  classes
} only %}

  {% block meta %}
    {% if not is_non_session %}
      {{ content.field_session_category }}
    {% endif %}

    {{ content.field_r }}

    {% if not is_non_session %}
      {{ content.field_audience }}
      {{ content.field_speakers }}
    {% endif %}
  {% endblock meta %}

  {% block description %}
    {{ content.field_description }}
  {% endblock description %}

  {% block footer %}
    <div class="session-teaser__footer">
      {% if not is_non_session %}
        <div class="session-teaser__desc-meta">
          <a href="{{ url }}">
            <span>View {{ is_training ? 'Training' : 'Session' }} Page</span>
            <span class="visually-hidden">for {{ label }}</span>
            {% include '@pubsub/includes/svg/arrow-right.svg' %}
          </a>
        </div>
      {% endif %}

      {% if content.field_slides.0 %}
        <a class="session-teaser__slides-link" href="{{- content.field_slides|render|striptags|trim -}}">View Slides</a>
      {% endif %}
    </div>
  {% endblock footer %}
{% endembed %}
