{{ attach_library('pubsub/mini-session-teaser') }}

{%
  set classes = [
    'mini-session-teaser',
    not node.isPublished() ? 'node--unpublished',
  ]
%}

{% set is_training = node.field_is_training.value %}
{% set is_non_session = node.field_is_non_session.value %}

<article{{ attributes.addClass(classes) }}>
  <h3 class="mini-session-teaser__title">{{ label }}</h3>
  <div class="mini-session-teaser__desc">
    {{ content.field_mini_session_description }}

    <div class="mini-session-teaser__footer">
      <div class="mini-session-teaser__footer-item">
        Speaker: {{ content.field_speakers }}
      </div>
      <div class="mini-session-teaser__footer-item">
        Length: {{ content.field_length }}
      </div>
    </div>
  </div>

  {{ title_suffix }}

</article>
