{{ attach_library('pubsub/session-full') }}

{% set is_training = node.field_is_training.value %}
{% set speaker_label = is_training ? 'Trainer' : 'Speaker' %}
{% set is_non_session = node.field_is_non_session.value %}

{%
  set classes = [
    'session',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="session__meta">
    {% if not is_non_session %}
      {{ content.field_session_category }}
    {% endif %}
    {{ content.field_r }}
    {% if not is_non_session %}
      {{ content.field_audience }}
    {% endif %}
    {{ content.field_time_slot }}
  </div>
  <div class="session__desc">
    {{ content.field_description }}
  </div>

  {% if not is_non_session and content.field_speakers.0 %}
    <h2>About the {{ speaker_label -}} {%- if content.field_speakers.1 %}s{% endif %}</h2>
    {{ content.field_speakers }}
  {% endif %}
</article>
