{{ attach_library('pubsub/session-teaser') }}

{%
  set classes = [
    'session-teaser',
    not node.isPublished() ? 'node--unpublished',
  ]
%}

{% set is_training = node.field_is_training.value %}
{% set is_non_session = node.field_is_non_session.value %}

<article{{ attributes.addClass(classes) }}>
  <details class="session-teaser__details" open>
    <summary class="session-teaser__summary">
      <h3 class="session-teaser__title">{{ label }}</h3>
    </summary>
    <div class="session-teaser__desc">
      {{ content.field_mini_session_description }}

      <div class="session-teaser__footer">
      <div class="session-teaser__footer-item">
        Speaker: {{ content.field_speakers }}
          {% if content.field_slides.0 %}
            <a class="session-teaser__slides-link" href="{{- content.field_slides|render|striptags|trim -}}">View Slides</a>
          {% endif %}
        </div>
      </div>
    </div>
  </details>

  {{ title_suffix }}

</article>
