{{ attach_library('pubsub/session-teaser') }}

{%
  set classes = [
    'session-teaser',
    not node.isPublished() ? 'node--unpublished',
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <details class="session-teaser__details">
      <summary class="session-teaser__summary">
        <h2 class="session-teaser__title">{{ label }}</h2>
        <div class="session__meta">
          {{ content.field_session_category }}
          {{ content.field_speakers }}
          {{ content.field_r }}
          {{ content.field_audience }}
        </div>
      </summary>
      <div class="session-teaser__desc">
        {{ content.field_description }}
      </div>
  </details>

  {{ title_suffix }}
</article>
