{{ attach_library('pubsub/node-full-job-listing') }}

{% set company = node.field_company.entity.title.value %}
{% set sponsor_level = node.field_company.entity.field_sponsor_level.entity.name.value|replace({'Sponsors': 'Sponsor'}) %}

<article{{ attributes.addClass('job-listing-full') }}>
  {{ title_suffix }}

  {% if content.field_location.0 %}
    <div class="job-listing-full__meta">
      <span class="meta-field">
        {% include '@pubsub/includes/svg/briefcase.svg' %}
        {{ company }}
      </span>

      {{ content.field_location }}

      <span class="meta-field">
        {% include '@pubsub/includes/svg/heart.svg' %}
        {{ sponsor_level }}
      </span>
    </div>
  {% endif %}

  <div{{ content_attributes.addClass('node__content') }}>
    {{ content|without('field_location', 'field_url', 'field_company') }}
  </div>

  <h2>About {{ company }}</h2>
  <p>
    {{ company }} is a {{ sponsor_level }} of
    {{ camp_details.field_camp_name.value }} {{ camp_details.field_dates.end_value|date('Y') }}!
  </p>
  {{ content.field_company }}

  {% if content.field_url.0 %}
    <footer class="job-listing-full__sticky-footer">
      {{ content.field_url }}
    </footer>
  {% endif %}
</article>
