<article{{ attributes.addClass(classes) }}>
  <details class="session-teaser__details">
    <summary class="session-teaser__summary">
      <h3 class="session-teaser__title">{{ label }}</h3>
      <div class="session__meta">
        {% block meta %}{% endblock %}
      </div>
    </summary>
    <div class="session-teaser__desc">

      {% block description %}{% endblock %}

      <div class="session-teaser__footer">
        {% if not is_non_session %}
          <div class="session-teaser__desc-meta">
            <a href="{{ url }}">
              <span>View {{ is_training ? 'Training' : 'Session' }} Page</span>
              <span class="visually-hidden">for {{ label }}</span>
              {{ include(componentMetadata.path ~ '/img/arrow-right.svg') }}
            </a>
          </div>
        {% endif %}

        {% if content.field_slides.0 %}
          <a class="session-teaser__slides-link" href="{{- content.field_slides|render|striptags|trim -}}">View Slides</a>
        {% endif %}
      </div>
    </div>
  </details>
  {{ title_suffix }}
</article>
