<article{{ attributes.addClass(classes) }}>
  {{ title_suffix }}
  <a class="featured-speaker__link" href="{{ link }}">
    <div class="featured-speaker__img">
      {{ image }}
      <div class="featured-speaker__badge">
      {{ badge }}
      </div>
    </div>
    <h3 class="featured-speaker__title">{{ title }}</h3>
    <div class="featured-speaker__desc">
      {{ body }}
    </div>
  </a>
</article>
