<article{{ attributes.addClass('sponsor-teaser') }}>
  <a class="sponsor-teaser__link" target="_blank" href="{{ href }}" aria-label="{{ title }}">
    <div class="sponsor-teaser__first">
      <div class="sponsor-teaser__img-wrapper">
        {{ logo }}
      </div>
    </div>
    {{ body }}
  </a>
  {{ title_suffix }}
</article>
