<div class="layout-container">
  <header class="site-header container">
    <a href="/"><img src="{{ pubsub_path }}/images/fldc22-logo.svg" alt="Florida DrupalCamp Logo"></a>
    {{ page.primary_menu }}
    <div class="site-header__action">
      <div class="site-header__register">
        <a href="http://www.eventbrite.com">Register Now!</a>
        <img class="site-header__register-arrow" src="{{ pubsub_path }}/images/arrow-right-white.svg" alt="">
      </div>
      <button class="mobile-nav-button" data-drupal-selector="mobile-nav-button" aria-label="{{ 'Toggle Main Menu'|t }}" aria-controls="header-nav" aria-expanded="false">
        <span class="mobile-nav-button__label">{{ 'Menu'|t }}</span>
        <span class="mobile-nav-button__icon"></span>
      </button>
    </div>
  </header>

  {% if is_front %}
    {% include '@pubsub/includes/hero.twig' %}
    {% include '@pubsub/includes/stats.twig' %}
  {% endif %}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main class="container grid">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer class="container grid" >
      {{ page.footer }}
    </footer>
  {% endif %}

  <div class="overlay" data-drupal-selector="overlay"></div>
</div>{# /.layout-container #}
