<div class="layout-container">
  <header class="site-header container">
    <a class="site-header--logo-link" href="/">
      <img width="209" height="80" src="{{ pubsub_path }}/images/fldc22-logo.svg" alt="Florida DrupalCamp Logo">
    </a>
    {{ page.primary_menu }}
    <div class="site-header__action">
      {% if camp_details.field_header_cta.0 %}
        <div class="site-header__register">
          <a class="site-header__register-link" href="{{ camp_details.field_header_cta.0.url }}" target="_blank">
            {{ camp_details.field_header_cta.title }}
            {% include '@pubsub/includes/svg/arrow-right.svg' %}
          </a>
        </div>
      {% endif %}
      <button class="mobile-nav-button" data-drupal-selector="mobile-nav-button" aria-label="{{ 'Toggle Main Menu'|t }}" aria-controls="header-nav" aria-expanded="false">
        <span class="mobile-nav-button__label">{{ 'Menu'|t }}</span>
        <span class="mobile-nav-button__icon"></span>
      </button>
    </div>
  </header>

  {{ page.highlighted }}

  {% if is_front %}
    {% include 'pubsub:site-hero' %}
    {% include '@pubsub/includes/stats.twig' %}
  {% endif %}

  {{ page.content_above }}

  {% if page.sidebar %}
    {{ attach_library('pubsub/sidebar') }}
    <div class="layout-sidebar container grid">
  {% endif %}

    <main class="site-main {{ page.sidebar ? '' : 'container' }}">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      {{ page.content }}
    </main>

  {% if page.sidebar %}
    {{ page.sidebar }}
    </div>
  {% endif %}



  <footer class="site-footer" >
    {{ page.footer }}
  </footer>

  {% if page.modal %}
    {{ page.modal }}
  {% endif %}

  <div class="overlay" data-drupal-selector="overlay"></div>
</div>{# /.layout-container #}
